{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
-
{% block styles %}
  <meta charset="utf-8">
  <title>Peliculas</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.ico') }}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <style>
  :root{
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #9C9C9B;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
  }
  body {
  margin: 0;
  font-family: "Lato", sans-serif;
  }

  .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #154360;
  position: fixed;
  height: 100%;
  overflow: auto;
  }

  .sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  }

  .sidebar a.active {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);color: white;
  color: white;
  }

  .sidebar a:hover:not(.active) {
  background-color: #D0D3D4;
  color: white;
  }

  div.content {
  margin-left: 200px;
  padding: 1px 16px;
  
  }

  @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  }

  @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  }
</style>

{% endblock %}

{% block title %} CineMisionTic {% endblock %}

{% block content %}
  <div class="sidebar">
    <a class="active" href="{{ url_for('home') }}"><i class="fas fa-ticket-alt"></i> Cine MinTic</a>
    <a href="{{ url_for('manage_movies') }}"><i class="fas fa-film"></i> Peliculas</a>
    <a href="{{ url_for('manage_functions') }}"><i class="fas fa-theater-masks"></i> Funciones</a>
    <a href="{{ url_for('manage_users') }}"><i class="fas fa-users"></i> Roles y Usuarios</a>
    <a href="#logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</a>
  </div>
  <nav style="background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);color: white;" class="navbar justify-content-between">
    <a class="navbar-brand"><i class="fas fa-ticket-alt"></i> Cine MinTic</a>
    <i style="font-size:20px" class="fas fa-user"></i>
  </nav>
  <div class="content">
    <div style="padding-top: 30px;padding-bottom: 10px;" class="row">
      <div class="col"><h2><i class="fas fa-film"></i> Ver funcion</h2></div>
    </div>
    {% for fila in result %}  
    <form method="POST" action="{{ url_for('updatefuncion') }}" enctype="multipart/form-data">
      <div style="margin-left: 30px;margin-right: 30px;" class="row">
          <div class="col">
              <div class="form-group">
                <label for="exampleFormControlInput1">Categoria</label>
                <input type="hidden" class="form-control" id="id" name="id" value="{{fila[0]}}">
                <input type="text" readonly class="form-control" id="categoria" name="categoria" value="{{fila[1]}}">
              </div>
          </div>
          <div class="col">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Sala</label>
                <input type="text" readonly class="form-control" id="sala" name="sala" value="{{fila[2]}}">
              </div>
          </div>
          <div class="col-12">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Hora</label>
                <input type="text" readonly class="form-control" id="hora" name="hora" value="{{fila[3]}}">
              </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">Precio</label>
              <input type="number" readonly class="form-control" id="precio" name="precio" value="{{fila[5]}}">
            </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleFormControlInput1">Pelicula  codigo</label>
            <input type="text" readonly  class="form-control" id="pelicula_codigo" name="pelicula_codigo" value="{{fila[6]}}">
          </div>
      </div>
      {% endfor %}  
        <div class="col-12">
          <a class="btn btn-success" href="{{ url_for('manage_functions') }}">Salir</a>
        </div>
      </div>
    
    </form>
  </div>
{% endblock %}
